body {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.container {
  position: relative;
  width: 110px;
  height: 30px;
  background: #fff;
  border-radius: 100px;
}

.container::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 10px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 40px 0 0 20px #fff;
}

.rain {
  position: relative;
  display: flex;
  z-index: 1;
}

.rain span {
  position: relative;
  width: 3px;
  height: 3px;
  background: #fff;
  margin: 10px 2px;
  border-radius: 50%;
  animation: rain 5s linear infinite;
  animation-duration: calc(15s/var(--speed));
  transform-origin: bottom;
}

@keyframes rain {
  0% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(100px) scale(1);
  }
  100% {
    transform: translateY(100px) scale(0);
  }
}