@font-face {
  font-family: 'Decovar Regular24';
  src: url('./Decovar-VF.ttf');
}

html {
  height: 100%;
}

body {
  background: radial-gradient(ellipse at center, #adbf41 20%, #328a26 80%);
  height: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  letter-spacing: 0.6rem;
  margin: 0;
  font-size: 20vw;
  position: relative;
  font-weight: 400;
  font-family: 'Decovar Regular24';
  font-variation-settings: 'INLN' 400, 'SWRM' 1000;
  background-image: url('./grass_bg.jpeg');
  background-size: 30%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 5px rgba(42, 67, 8, 0.4);
  animation: grow 3s linear infinite alternate;
}

@keyframes grow {
  0% {
    font-variation-settings: 'INLN' 400, 'SWRM' 1000;
  }
  100% {
    font-variation-settings: 'INLN' 400, 'SWRM' 0;
  }
}

h1::before {
  text-shadow: 1px 1px 2px rgba(42, 67, 8, 0.5),
    -1px 1px 2px rgba(42, 67, 8, 0.5),
    -1px -1px 2px rgba(42, 67, 8, 0.5),
    3px 3px 20px rgba(0, 0, 0, 0.5);
}
h1::after {
  color: #421f00;
  font-variation-settings: 'INLN' 0;
}
h1::after, h1::before {
  content: attr(data-text);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}