body {
  background-color: #f5f5f5;
  perspective: 1000px;
  transform-style: preserve-3d;
  display: flex;
  height: 90vh;
}
.card {
  transform: translateZ(0);
  padding: 30px;
  border-radius: 5px;
  width: 400px;
  height: 200px;
  margin: auto;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  position: relative;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
.card::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 150px;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  transform: rotateZ(-30deg) skew(30deg, 0deg);
  bottom: -10%;
  left: 30%;
  z-index: -1;
}
.card .card-content {
  margin: auto;
  transform-style: preserve-3d;
}
.desk {
  position: absolute;
  width: 200px;
  height: 150px;
  background-color: white;
  top: -50px;
  left: -100px;
  transform: rotateZ(-30deg) skew(30deg, 0deg);
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.svg_pic {
  width: 400px;
  height: 200px;
  position: absolute;
  left: -200px;
  top: -100px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.computer {
  animation-delay: 1s;
  transform: transzlateZ(0);
}
.keyboard {
  animation-delay: 2s;
  transform: translateZ(5px);
}
.pen {
  animation-delay: 3s;
  transform: translateZ(10px);
}
.pad {
  animation-delay: 4s;
  transform: translateZ(15px);
}
.box {
  animation-delay: 5s;
  transform: translateZ(20px);
}
