body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
}

.shooting-star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px #699bff);
  border-radius: 1000px;
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.shooting-star::before {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 3000ms ease-in-out infinite;
}
.shooting-star::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(-45deg);
  animation: shining 3000ms ease-in-out infinite;
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

.shooting-star:nth-child(1) {
  top: calc(50% - 10px);
  left: calc(50% - 230px);
  animation-delay: 4321ms;
}
.shooting-star:nth-child(1)::before,
.shooting-star:nth-child(1)::after {
  animation-delay: 4321ms;
}

.shooting-star:nth-child(2) {
  top: calc(50% - 60px);
  left: calc(50% - 170px);
  animation-delay: 700ms;
}
.shooting-star:nth-child(2)::before,
.shooting-star:nth-child(2)::after {
  animation-delay: 700ms;
}

.shooting-star:nth-child(3) {
  top: calc(50% + 60px);
  left: calc(50% + 170px);
  animation-delay: 100ms;
}
.shooting-star:nth-child(3)::before,
.shooting-star:nth-child(3)::after {
  animation-delay: 100ms;
}
.shooting-star:nth-child(4) {
  top: calc(50% + 160px);
  left: calc(50% + 370px);
  animation-delay: 6000ms;
}
.shooting-star:nth-child(4)::before,
.shooting-star:nth-child(4)::after {
  animation-delay: 6000ms;
}
.shooting-star:nth-child(5) {
  top: calc(50% + 550px);
  left: calc(50% + 130px);
  animation-delay: 1356ms;
}
.shooting-star:nth-child(5)::before,
.shooting-star:nth-child(5)::after {
  animation-delay: 1356ms;
}
.shooting-star:nth-child(6) {
  top: calc(50% - 220px);
  left: calc(50% - 70px);
  animation-delay: 2340ms;
}
.shooting-star:nth-child(6)::before,
.shooting-star:nth-child(6)::after {
  animation-delay: 2340ms;
}
